{% extends 'template.html' %}

{% block body %}

<h2>Tables in namespace: {{namespace}}</h2>

<form action="" method="GET">
    Go to namespace: <select name=namespace>
        {% for ns in namespaces %}
            <option value="{{ns}}"
                {{ 'selected=selected' if ns == namespace }}
                >{{ns}}</option>
        {% endfor %}
    </select> <input type="submit" value="Go"/>
</form>



{% if tables %}

    <table class=data>
        <tr>
            <th>Name</th><th>Snapshots</th><th>Plot data</th>
        </tr>
        {% for t in tables %}
            <tr>
                <td>{{t.Name}}</td>
                <td><a href="./show_table?table={{t.TableName}}&namespace={{t.Namespace}}">{{t.snapshotCount()}}</a></td>
                <td><a href="./plot_table?table={{t.TableName}}&namespace={{t.Namespace}}">plot</a></td>
            </tr>
        {% endfor %}
    </table>
    
{% else %}

    No Con DB tables found in namespace {{namespace}}

{% endif %}

{% endblock %}    
